p {   font-size: 1.25em;     color: #616161;   line-height: 150%;   margin-top: 10px;   margin-left: 60px; }

p::selection {
  color: red;
  background-color: pink;
}

p::first-letter{
  font-size: 2em;
  font-weight: bold;
  color: red;
}

h1 {
  font-family: 'Varela Round', 'Arial Black', serif;   font-weight: normal;
  color: #6A94CC;  font-size: 3em;  margin: 0;
}

body {   width: 80%;   padding: 20px;   margin: 0 auto;   border-radius: 10px;   box-shadow: 10px 10px 10px rgba(0,0,0,.5);   background-color: #E1EDEB; }

html {   padding-top: 25px;   background-image: url(images/dg_page.png); }

.btn {
  border-radius: 5px;
  font-family: Arial, Helvetica, serif;
  font-size: .8 em;
}
.delete {
  background-color: red;
}

.add {
  background-color: green;
}

.edit {
  background-color: grey;
}
